
active_learning/text_deduplication/metrics/__pycache__/run_blocks.cpython-36.pyc
*.pyc
*.csv
*.pickle
kubeflow_k8s/component_amazon_load_dataset.yaml
kubeflow_k8s/component_eval_model.yaml
kubeflow_k8s/component_nnlm_model.yaml
kubeflow_k8s/component_train_model.yaml
kubeflow_k8s/model_checkpoint/assets/tokens.txt
kubeflow_k8s/model_checkpoint/saved_model.pb
kubeflow_k8s/model_checkpoint/variables/variables.data-00000-of-00001
kubeflow_k8s/model_checkpoint/variables/variables.index
kubeflow_k8s/pipeline_amazon_lr.yaml
kubeflow_k8s/component_download_data.yaml
kubeflow_k8s/component_preprocess_data.yaml
kubeflow_k8s/component_split_data.yaml
*.zip
kubeflow_k8s/pipeline_two_components_py.yaml
kubeflow_k8s/pipeline_two_components_py_00.yaml
kubeflow_k8s/pipeline_two_components_py_001.yaml
kubeflow_k8s/pipeline_two_components_py_002.yaml
kubeflow_k8s/pipeline_two_components_py_003.yaml
*.gz
kubeflow_k8s/pipeline2.yaml
kubeflow_k8s/pipeline_amazon2.yaml
